@charset "utf-8";

/*Todas as demais midias*/

/*Typical Device Breakpoint

Pequenas telas: até 600px

Celular: de 600px até 768px;

Tablet:  768px até 992px;

Desktop: 992px até 1200px;

Telas grandes:  acima de 1200px;

*/

@media print{
	*{
		font-family: Courier, monospace;
	}

	body{
		background-image: url(../imagens/back-print.jpg)/*Desnecssário*/;

	}

	main{
		border: 2px solid black;
	}

	main h1{
		text-shadow: none;
		color: black;
		width: 90vw;
	}

	main::after{
		content: 'essa impressão foi feita por www.cursoemvideo.com';
		text-decoration: overline;
	}

	img#phone{display: none;}

img#tablet{display: none;}

img#print{display: block;}

img#pc{display: none;}

img#tv{display: none;}



	
}/*Impressão*/

@media screen and (min-width: 768px) and (max-width: 992px){
body{
    background-image: url(../imagens/back-tablet.jpg);
}

img#phone{display: none;}

img#tablet{display: block;}

img#print{display: none;}

img#pc{display: none;}

img#tv{display: none;}


}/*Tablet*/

@media screen and (min-width: 992px) and (max-width: 1200px){
body{
	background-image: url(../imagens/back-pc.jpg);
}

img#phone{display: none;}

img#tablet{display: none;}

img#print{display: none;}

img#pc{display: block;}

img#tv{display: none;}

}/*Desktop*/

@media screen and(min-width: 1200px){
	body{
		background-image: url(../imagens/back-tv.jpg);


	}

img#phone{display: none;}

img#tablet{display: none;}

img#print{display: none;}

img#pc{display: none;}

img#tv{display: block;}


}/*Grandes Telas*/




/*A parte dos dispositivos móveis ja foram feitas
no estilo.css, sendo assim, não precisamos fazer
essas configurações novamente.*/


